<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ news.title | shortWord: 60 }}</mat-card-title>
  </mat-card-header>
  <div class="overflow-hidden h-[175px]" (click)="navigate()">
    <img mat-card-image [src]="news.imageUrl" onerror="this.src='/assets/shiba2.jpg'" alt="Imagen de la noticia"
      class="news-image w-full">
  </div>
  <mat-card-content class="mt-3">
    <div class="mb-4 mt-2">
      <small class="p-2 rounded-[10px] bg-gray-300">Creado {{ news.date }}</small>
    </div>

    <div [innerHTML]="(news.shortDescription | shortWord: 220) + ' ...'">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button (click)="navigate()" class="border p-2 cursor-pointer rounded-[5px] text-blue-700">Leer
      más</a>
  </mat-card-actions>
</mat-card>
