<form [formGroup]="form">
  <div class="relative">
    <mat-form-field class="w-full">
      <mat-label>Nombres</mat-label>
      <input matInput type="text" formControlName="name" minlength="3">
    </mat-form-field>

    <ng-container *ngIf="(get('name')?.errors) || (get('name')?.touched || get('name')?.dirty)">
      <mat-error *ngIf="get('name').hasError('required')" class="mt-[-15px]">Nombres es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="get('name').hasError('minlength')" class="mt-[-15px]">Mínimo <strong>3 carácteres</strong>
      </mat-error>
      <mat-error *ngIf="get('name').hasError('pattern')" class="mt-[-15px]">Solo ingrese <strong>letras</strong>
      </mat-error>
    </ng-container>
  </div>

  <div class="relative">
    <mat-form-field class="w-full">
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" formControlName="lastName">
    </mat-form-field>

    <ng-container *ngIf="(get('lastName')?.errors) || (get('lastName')?.touched || get('lastName')?.dirty)">
      <mat-error *ngIf="get('lastName').hasError('required')" class="mt-[-15px]">Apellido es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="get('lastName').hasError('minlength')" class="mt-[-15px]">Mínimo <strong>3 carácteres</strong>
      </mat-error>
      <mat-error *ngIf="get('lastName').hasError('pattern')" class="mt-[-15px]">Solo ingrese <strong>letras</strong>
      </mat-error>
    </ng-container>
  </div>
</form>
